.jumbotron {
    margin-bottom: 0;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.companies-error{
    width: 100%;
    margin-left: 15px;
}

#container{
    width: 90%;
    margin-left: 5%;
}

.display-2 {
    color: #212529;
    font-weight: 400;
}